/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/

$color_primaty: #eb2f64;
$color_primaty_light: #FF3366;
$color_primaty_dark: #BA265D;

$color_grey_light_1: #faf9f9;
$color_grey_light_2: #f4f2f2;
$color_grey_light_3: #f0eeee;
$color_grey_light_4: #ccc;


$color_grey_dark_1: #333;
$color_grey_dark_2: #777;
$color_grey_dark_3: #999;
